.editable {
/*   &__wrapper {
    display: flex;
  }

  &__form {
    display: flex;
  }

  &__label {
    flex-basis: 25%;

    &--hidden {
      width: 0;
      flex-basis: 0;
    }
  }

  &__text {
    color: #fff;
    display: flex;
  }

  &__field {
    display: flex;
    width: 100%;
  }

  &__button {
    display: flex;
    align-self: flex-end;
  } */
}
