.editable {
  display: flex;

  &__wrapper {
    display: flex;
    flex-grow: 1;
  }

  &__form {
    display: flex;
    flex-grow: 1;
  }

  &__input {
    flex-grow: 1;
    display: flex;
    justify-content: start;
    align-items: center;

    &--field {
      display: flex;
      flex-grow: 1;
    }
  }

  &__button {
    max-height: 2rem;
    max-width: 80px;
  }

  &__label {
    display: flex;
    align-items: center;
    margin-right: 5px;
    text-transform: uppercase;

    &--hidden {
      margin: 0;
    }
  }
}
