.editable {
  display: flex;

  &__wrapper {
    display: flex;
    flex-grow: 1;
  }

  &__form {
    display: flex;
    flex-grow: 1;
  }

  &__input {
    flex-grow: 1;
    display: flex;
    justify-content: start;
    align-items: center;

    &--field {
      display: flex;
      flex-grow: 1;
    }
  }

  &__button {
    flex-basis: 35%;
  }
}
