.treasury {
  font-size: 22px;

  .input-wrapper label {
    display: flex;
    height: 150px;
    flex-direction: column;
    justify-content: center;
    text-align: center;

    .input {
      height: 50px;
      font-size: 30px;
      padding: 10px;
      text-align: center;
      border-color: #fff;
      background-color: #fff;

      &:read-only {
        background: #fafafa;
        border-color: #070707;
      }
    }
  }
}
