.companies {
  &__buttons {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 30px;
    justify-content: space-between;

    &::after {
      content: '';
      flex: auto;
    }
  }

  &__button {
    flex-basis: 100%;
    margin: 6px;
  }

  .company-wrapper {
    /*     display: flex;
    flex-wrap: wrap;
    flex-direction: row; */
  }
}

@media (min-width: 42em) {
  .companies {
    &__button {
      flex-basis: 48%;
    }
  }
}
